nav.border-b.border-gray-200.bg-white
  .container.mx-auto.flex.flex-wrap.items-center.gap-x-6.gap-y-2.px-5.py-3.text-sm
    = link_to "Ask Data", root_path, class: "font-semibold text-gray-900"
    = link_to "Customers", customers_path, class: "text-blue-600 underline"
    = link_to "Products", products_path, class: "text-blue-600 underline"
    = link_to "Orders", orders_path, class: "text-blue-600 underline"
    = link_to "Policy", policy_path, class: "text-blue-600 underline"
